<h1>Bienvenido a jugar Maratòn</h1>
<h2>Elige alguno de los siguientes Decks para jugar</h2>
<form method="post" action="/play/deck">
  <input type ="submit" name="geografia" value="Geografia">
  <input type ="submit" name="deportes" value="Deportes">
  <input type ="submit" name="arte" value="Arte">
</form>