<h1>Tus resultados de esta ronda fueron: </h1>
<h3> Respuestas Correctas: <%= @guess.answers_correct %> </h3> <br>
<h3> Respuestas Incorrectas: <%= @guess.answers_incorrect %> </h3> <br>
<a href="/history"><h3>Ver mi historial</h3></a>